<div class="header">
  <div class="header-title">
    <a href="/" class="title_logo">fitWatch</a>
  </div>
  <div class="header_menu">
    <div class="header_menu-list">
      <ul>
        <li><%= link_to"ranking", ranking_posts_path %></li>
        <li><%= link_to"item", item_posts_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to"post", new_post_path %></li>
        <li><%= link_to current_user.nickname, user_path(current_user.id) %></li>
        <li><%= link_to"sign out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to"sign in", new_user_session_path %></li>
        <li><%= link_to"sign up", new_user_registration_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
