<div class="wrapper">
  <div class="main">
    <%= render 'header' %>
      <div class="new_post_container">
        <div class="new_post-header">
          <p>Post your favorite watch</p>
        </div>
        <div class="new_post-form">
          <%= form_for(@post) do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          <div class="input-form">
            <p>・Image</p>
            <% if @post.image? %>
              <%= image_tag @post.image.url, id: :image_prev  %>
            <% else %>
              <%= image_tag "/no-image.png", id: :image_prev  %>
            <% end %>
            <%= f.file_field :image, id: :form_image %>
            <p>・Design</p>
            <%= f.collection_select :name_id, Design.all, :id, :name, prompt: "--", class: "form_design" %>
            <p>・About</p>
            <%= f.text_area :about, :maxlength => "300", class:"form_about" %>
            <%= f.submit "Send", class:"form_send-button" %>
          <% end %>
          </div>
        </div>
      </div>
  </div>
</div>


