<div class="wrapper">
  <div class="main">
    <%= render 'header' %>
      <div class="show_post_container">
        <div class= "show_post_container--item">
          <%= image_tag @post.image.url %>
          <div class= "show_post_container--item-details">
            <h3><%= @post.about %></h3>
            <div id="likes_buttons_<%= @post.id %>", class="likes_buttons">
              <%= render partial: "likes/like", locals: { post: @post } %>
            </div>
            <h3><%= @post.user.nickname %></h3>
            <h3><%= @post.name_id %></h3>
          </div>
          <%= link_to "編集", edit_post_path(@post.id), class:"patch_button" %>
          <%= link_to "削除", post_path(@post.id), method: :delete, class:"delete_button" %>
          <%= link_to "戻る", posts_path, class:"back_button" %>
        </div>
      </div>
  </div>
</div>